.content{
	height: auto;
}

.content{
	margin-top: 0px;
	margin-left: 40px;
	margin-right: 40px;
}

*{
	font-family: "Trebuchet MS", Helvetica, sans-serif;

	
}

.content h3{
	margin-top: 45px;
	background: #F7F5E7;
	padding: 5px;
	border-radius: 6px;
}

.active li{
	color: white !important;
}

a {
	color: #EF9C35 !important;
}
#olauser{
	margin: 10px;
}


.panel-footer{
	text-align: center !important;
}

.logo{
	margin-left: -500px;
}


.container{
	max-width: 600px;
	margin: 0px auto !important;
}

.container{
	max-width: 600px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

/*  Login */

/*
.login {
	margin: 10px !important;
}
.form-signin-heading{
	text-align: center !important; 
	color: #EF9C35;
	
}
.login{
	max-width: 600px;
	margin: 0px auto !important;
}
*/